body {
    margin: 0px;
    padding-bottom: 10vh;
    background: rgb(50, 50, 50);
    color: rgb(220, 220, 220);
    font-family: 'Noto Sans', sans-serif;
}
footer {
    /*Box-Layout*/
    background:rgb(40, 40, 40); 
    position: fixed;
    width: 100vw;
    /*Content-Layout*/
    display: flex;
    align-items: center;
    flex-direction: column;
    bottom: 0px;
    font-family: 'Noto Sans Mono', sans-serif;
    line-height: 25%; 
}
h1, h3 {
    font-family: 'Noto Sans Mono', sans-serif;
}
main div {
    display: flex;
    align-items: flex-start;
    flex-direction: row;
    flex-grow: 1, 5;
}
[href] {
    color: rgb(220, 220, 220);
}
#rotate {
    writing-mode: vertical-rl;
    box-sizing: border-box;
    transform: rotate(180deg);
    margin: 20px;
}